.hero-section {
    background-image: url("../images/hero-bg.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: 900px) {
        background-image: none;
    }

    .section-container {
        padding: 6.25rem 0.9375rem;

        @media only screen and (max-width: 900px) {
            padding: 2rem 1rem;
        }
    }
}